*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-wrapper{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  max-width: 1024px;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.grid-item{
  max-width: 250px;
  background-color: lightseagreen;
  border-radius: 5px;
  padding: 20px;
}

form{
  display: grid;
  grid-template-columns: 1fr;
  max-width: 250px;
  grid-gap: 5px;
  margin-bottom: 20px;
  background-color: lightskyblue;
  padding: 20px;
  border-radius: 5px;
}
.app-wrapper{
  background-color:lightsalmon;
  padding: 40px;
}